.comment_text{
    font-family: "Microsoft Yahei", sans-serif;
    width: 800px;
    height: 100px;
    font-size: 16px;
    resize: none;
}
.btn_delete_comment{
    float: right;
    margin-right: 20px;
    background-color: #0f88eb;
    color: white;
    border-radius: 2px;
}
.btn_delete_comment:hover{
    background-color: red;
}
.btn_like_comment{
    float: right;
    margin-right: 4%;
}
.btn_unlike_comment{
    float: right;
    margin-right: 4%;
}