{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block beforehead %}
    <link rel="stylesheet" href="../static/css/index.css">
<script>
</script>
{% endblock %}
{% block content %}
    <div>
    {% for blog in blogs %}
    <article>
    <div style="margin-left: 20px;">
        <h2><a href="/blog/{{blog.id}}" style="color: #0f88eb">{{blog.name}}</a></h2>
        <p style="font-size: 12px; font-family: 'Microsoft Yahei';color: #737373">发表于{{blog.created_at}}</p>
        <p>{{blog.summary}}</p>
        <p><a href="/blog/{{blog.id}}" style="color: #0f88eb">继续阅读>></a></p>
    </div>
    </article>
    {% endfor %}
    <div class="page">
    <ul>
        {% if pagination.has_prev %}
             <li>
                  <a href="{{ url_for('.index',page = pagination.page - 1) }}"><< 上一页</a>
             </li>
            {% endif %}

        {% if pagination.has_next %}
            <li>
                <a href="{{ url_for('.index',page = pagination.page + 1) }}">下一页 >></a>
            </li>
        {% endif %}
    <li>
        当前是第{{ pagination.page }}页
    </li>
    <li>共{{ pagination.pages }}页</li>
    </ul>
    </div>
    </div>
{% endblock %}