{% extends 'base.html' %}
{% block title %}日志管理{% endblock %}
{% block beforehead %}
{% endblock %}
<script type="text/javascript" src="../static/js/delete.js"></script>
{% block content %}
    <div style="background-color: white;border-radius: 10px;">
        <div style="margin-left: 20px;">
            <div>
                <h2>日志管理</h2>
            </div>
                <div style="font-size: 19px;">
                    <a href="/blogs/create">新日志</a>
                    <div style="float: left;">
                        <img src="../static/img/plus.png" width="16" height="16">
                    </div>
                </div>
        {% if blogs %}
                <table style="margin-top: 20px;">
                    <thead>
                    <tr>
                        <th>标题/摘要</th>
                        <th style="margin-left: 300px;width: 350px;">作者</th>
                        <th style="margin-left: 300px;width: 350px;">创作时间</th>
                        <th style="margin-left: 300px;width: 350px;">操作</th>
                    </tr>
                    </thead>
                    <hr style="margin-right: 20px;">
                    <tbody>
                    {% for blog in blogs %}
                        <tr>
                            <td style="width: 250px;">
                                <a target="_blank" href="/blog/{{blog.id}}" style="margin-left: 92px;">{{ blog.name }}</a>
                            </td>
                            <td style="margin-left: 250px; width: 200px;">
                                <a target="_blank" href="/blog/{{ blog.user_id }}" style="margin-left: 159px;">{{ blog.user_name }}</a>
                            </td>
                            <td style="margin-left: 250px; width: 200px;">
                                <span style="margin-left: 144px;">{{ blog.created_at }}</span>
                            </td>
                            <td style="margin-left: 250px; width: 200px;">
                                <a style="margin-left: 155px;" href="/blogs_edit/{{ blog.id }}"><img src="../static/img/edit.png" width="16" height="16"></a>
                                <a style="margin-left: 10px;" href="/blogs/delete/{{ blog.id }}" onclick="delete_blog()"><img src="../static/img/delete.png" width="16" height="16"></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <hr>
            <h1 style="color: red;margin-bottom: 20px;margin-algin:auto;">日志为空</h1>
        {% endif %}
        </div>
    </div>
{% endblock %}