{% extends 'base.html' %}
{% block title %}评论管理{% endblock %}
{% block beforehead %}
    <link rel="stylesheet" href="../static/css/manage_comments.css">
{% endblock %}
{% block content %}
    <div class="body">
        <header>
            <h2>评论管理</h2>
        </header>
        <div class="content">
            <table>
                <tbody>
                <tr>
                    <th>作者</th>
                    <th>内容</th>
                    <th>所属文章</th>
                    <th>发表时间</th>
                    <th>操作</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}