{% extends 'base.html' %}
{% block title %}日志管理{% endblock %}
{% block beforehead %}
    <link rel="stylesheet" href="../static/css/manage_blogs.css">
<script>
    window.onload=function showtable(){
        var tablename=document.getElementById("info");
        var li=tablename.getElementsByTagName("tr");
        for (var i=0;i<=li.length;i++) {
            if (i % 2 == 0) {
                li[i].style.backgroundColor = "#dcdcdc";
            }
        }
    };
    $("document").ready(function () {
        $(".btn_delete").click(function () {
            var flag = confirm('确认删除'+$(this).attr("name")+'?');
            if(!flag){
                return;
            }
            $.ajax({
                url:"/blogs/delete",
                data:{"id":$(this).attr("para")},
                success:function (data) {
                    alert(data);
                    location.reload();
                }
            })
        });
    });
</script>
{% endblock %}
{% block content %}
    <div style="background-color: white;border-radius: 10px;">
        <div style="margin-left: 20px;">
            <div>
                <h2 style="text-align: center;">日志管理</h2>
            </div>
        {% if blogs %}
                <table id="info">
                <tbody>
                <tr>
                    <th>标题/摘要</th>
                    <th>作者</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                {% for blog in blogs %}
                    <tr>
                        <td><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></td>
                        <td><a href="/user/{{ blog.user_id }}">{{ blog.user_name }}</a></td>
                        <td>{{ blog.created_at }}</td>
                        <td class="option">
                            <a href="/blogs_edit/{{ blog.id }}"><img src="../static/img/edit.png" width="16" height="16">编辑</a>
                            <a class="btn_delete" para="{{ blog.id }}" name="{{ blog.name }}"><img src="../static/img/delete.png" width="16" height="16">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        {% else %}
            <hr>
            <h1 style="color: red;margin-bottom: 20px;margin-algin:auto;">日志为空</h1>
        {% endif %}
        </div>
    <div class="page">
    <ul style="list-style-type: none;">
        {% if pagination.has_prev %}
             <li>
                  <a href="{{ url_for('.manage_blogs',page = pagination.page - 1) }}"><< 上一页</a>
             </li>
        {% endif %}
        {% if pagination.has_next %}
            <li>
                <a href="{{ url_for('.manage_blogs',page = pagination.page + 1) }}">下一页 >></a>
            </li>
        {% endif %}
    </ul>
    </div>
    </div>
{% endblock %}