{% extends 'base.html' %}
{% block title %}{{ user.name }}-个人信息{% endblock %}
{% block beforehead %}
    <script>
    $(document).ready(function () {
        $("#update").click(function () {
            $.ajax({
                url:"/ajax/user/edit",
                data:{
                    "birth" : $("#test1").val(),
                    "name" : $("#userName").val()
                },
                success:function (data) {
                    alert(data);
                }
            });
        });
    });
    </script>
{% endblock %}
{% block content %}
    <div style="background-color: white;border-radius: 10px;margin-top: 10px;">
    <div style="margin-left: 20px;">
        <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
            <div>
                <label>账号创建时间:&nbsp;&nbsp;&nbsp;{{ user.created_at }}</label>
            </div>
            <label>邮箱账号<label style="color: red;">(此账号为您注册账号，不可修改)</label>:</label>
            <div>
                {{ form.email(value = user.email,disabled = 'disabled') }}
            </div>
            <label>用户名:</label>
            <div>
                {{ form.name(value = user.name,id = "userName") }}
            </div>
            <label>生日:</label>
            <div>
                <input type="text" class="demo-input" placeholder="请选择日期" id="test1" value="{{ user.birth }}">
                <script src="../static/js/laydate.js"></script> <!-- 改成你的路径 -->
                <script>
                    lay('#version').html('-v'+ laydate.v);
                    //执行一个laydate实例
                    laydate.render({
                    elem: '#test1' //指定元素
                    });
                </script>
            </div>
            <div>
                <button type="submit" style="border-radius: 5px; border: none;background-color: #0f88eb;color: white;font-size: 16px;margin-top: 10px;margin-bottom: 10px;"  id="update">确认修改</button>
                <a href="/" style="margin-left: 10px;font-size: 16px;">取消</a>
            </div>
        </form>
    </div>
    </div>
{% endblock %}